<aside class="sidebar-left">
  <a class="company-logo" href="#">Logo</a>
  <div class="sidebar-links">
    <a routerLink="/home" [routerLinkActive]="'selected'" class="link-blue" href="#"><i class="fas fa-home fa-2x"></i>Home</a>
    <a routerLink="/songs" [routerLinkActive]="'selected'" class="link-red" href="#"><i class="fas fa-music fa-2x"></i>Songs</a>
    <a routerLink="/artists" [routerLinkActive]="'selected'" class="link-purple" href="#"><i class="fas fa-microphone-alt fa-2x"></i>Artists</a>
    <a routerLink="/albums" [routerLinkActive]="'selected'" class="link-yellow" href="#"><i class="fas fa-compact-disc fa-2x"></i>Albums</a>
    <a routerLink="/about-me" [routerLinkActive]="'selected'" class="link-green" href="#"><i class="fas fa-user-alt fa-2x"></i>About Me</a>
  </div>
</aside>


