<app-options-bar [searchPlaceholder]="'Search'"
                 [length]="length"
                 [options]="options"
                 (onSearchClick)="search($event)"
                 (onPageChanged)="onPageEvent($event)">
</app-options-bar>

<!-- Artist List -->
<div class="artist-bullet-container">
  <div class="artist-bullet">
    <a class="bullet-modal-control" (click)="openModal(i)">
      <p class="bullet" data-letters="TF"></p>
      <div class="bullet-hover">
        <i class="fas fa-plus-circle"></i>
      </div>
    </a>
  </div>
  <div class="artist-infos">
    <span class="artname">
      Tiziano Ferro
    </span>
    <span class="num-song">
      10
    </span>
  </div>
</div>
