[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 2em;
  width: 3.5em;
  height: 3.5em;
  line-height: 3.5em;
  text-align: center;
  border-radius: 50%;
  background: plum;
  vertical-align: middle;
  color: white;
}

.bullet-hover {
  font-size: 2em;
  width: 3.5em;
  height: 3.5em;
  line-height: 3.5em;
  text-align: center;
  border-radius: 50%;
  background: plum;
  vertical-align: middle;
  color: white;
}

.artist-bullet-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  .artist-bullet-entry {
    flex-basis: 10%;
    text-align: center;

    .artist-bullet {
      .bullet-modal-control {
        .bullet {
          display: inline-block;
        }

        .bullet-hover {
          display: none;
        }

        &:hover {
          .bullet {
            display: none;
          }

          .bullet-hover {
            display: inline-block;
          }
        }
      }
    }
  }
}
