<app-options-bar [searchPlaceholder]="'Search'"
                 [length]="length"
                 [options]="options"
                 (onSearchClick)="search($event)"
                 (onPageChanged)="onPageEvent($event)">
</app-options-bar>

<!-- Artist List -->
<div class="artist-bullet-container">
  <div class="artist-bullet-entry pr-2 pl-2"
       *ngFor="let artist of artists;let i = index">
    <div class="artist-bullet">
      <a class="bullet-modal-control" (click)="openModal(artist.id)">
        <div class="bullet" [attr.data-letters]="getInitials(artist.artName)"></div>
        <div class="bullet-hover">
          <i class="fas fa-plus-circle"></i>
        </div>
      </a>
    </div>
    <div class="artist-infos">
      <span class="artname">
        {{artist.artName}}
      </span>
      <span class="num-song">
        {{artist.numSongs}}
      </span>
    </div>
  </div>
</div>
