<!-- Options Bar -->
<div class="options-bar">
  <div class="options-bar-search">
    <!-- Search Area -->
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="searchParameter">
    </mat-form-field>
    <button mat-button (click)="search()">Search</button>
  </div>
  <div class="options-bar-paginator">
    <!-- Paginator -->
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageEvent($event)">
    </mat-paginator>
  </div>
</div>

<!-- Album List -->
<mat-grid-list cols="4" rowHeight="300">
  <mat-grid-tile *ngFor="let album of albums;let i = index">
    <mat-grid-tile-header>
      <div class="header-title">
        <span class="header-title-text">{{album.title}}</span>
      </div>
      ,&nbsp;
      <div class="header-artist">
        <span class="header-artist-text">{{album.artist}}</span>
      </div>
    </mat-grid-tile-header>
    <div class="tile-body">
      <img [src]="album.coverUrl" />
    </div>
    <mat-grid-tile-footer>
      <div class="footer-genres">
        <span class="genre">{{album.genre}}Pop</span>
      </div>
      <a class="footer-modal-control" (click)="openModal(i)">
        <i class="fas fa-list-ul"></i>
      </a>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<!-- MODAL -->
<ng-template #albumModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modal.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      Contenuto
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
