<app-options-bar [searchPlaceholder]="'Search'"
                 [length]="length"
                 [options]="options"
                 (onSearchClick)="search($event)"
                 (onPageChanged)="onPageEvent($event)">
</app-options-bar>

<!-- Album List -->
<mat-grid-list cols="4" rowHeight="300">
  <mat-grid-tile *ngFor="let album of albums;let i = index">
    <mat-grid-tile-header>
      <div class="header-title">
        <span class="header-title-text">{{album.title}}</span>
        <span class="header-artist-text">{{album.artist}}</span>
      </div>
    </mat-grid-tile-header>
    <div class="tile-body">
      <img [src]="album.coverUrl" />
    </div>
    <mat-grid-tile-footer>
      <div class="footer-number">
        <span class="rounded">{{album.numSongs}}</span>
      </div>
      <a class="footer-modal-control" (click)="openModal(i)">
        <i class="fas fa-list-ul"></i>
      </a>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
