@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/_variables.scss";

.app-router-content {
  padding-left: $sidebar-expanded-width;
}

.app-player-content {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: right 2s; /* Safari */
  transition: right 2s;

  &.closed {
    right: -$player-expanded-width;
  }

  .player-helper {
    cursor: pointer;
    width: 38px;
    height: 32px;
    position: absolute;
    z-index: 10;
    left: -38px;
  }
}

@media (max-width: $sidebar-medium-breakpoint) {
  .app-router-content {
    padding-left: 0;
  }

  .app-player-content {
    .player-helper {
      bottom: 0px;
      position: fixed;
      text-align: center;
      width: 100%;
      background-color: #292c2f;
      border-top: 1px solid black;
      left: 0;
      min-height: 35px;

      svg {
        path {
          fill: #ffffff;
        }
      }
    }
  }
}

.rounded {
  padding: 4px;
  border-radius: 100%;
  border-width: 1px;
  border-style: dashed;
  border-color: #000;
  background-color: rgba(255,255,255, 0.25);
}

/* Mobile phone layout */

@media (max-width: $sidebar-small-breakpoint) {
  .app-router-content {
    padding-left: 0;
  }
}
