.tile-body {
  width: 100%;

  img {
    width: 100%;
  }
}

.footer-playlist-control {
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 5;

  svg {
    height: 28px;
    width: 28px;
  }
}

.header-title, .header-artist {
  z-index: 5;
}

.header-title-text, .header-artist-text {
}
