.tile-body {
  width: 100%;

  img {
    width: 100%;
  }
}

.footer-playlist-control {
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 5;

  svg {
    height: 28px;
    width: 28px;
  }
}

.header-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  width: 100%;
  font-weight: bold !important;
}

.header-title-text, .header-artist-text {
  padding: 2px;
}
